[submodule "midi_generator"]
	path = midi_generator
	url = https://github.com/speedypleath/midi_generator

[submodule "b2bAI-VST"]
	path = vst
	url = https://github.com/speedypleath/b2bAI-VST

[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/speedypleath/JUCE.git
	
[submodule "lib/foleys_gui_magic"]
	path = lib/foleys_gui_magic
	url = https://github.com/speedypleath/foleys_gui_magic.git
