[submodule "JUCE"]
	path = lib/JUCE
	url = https://github.com/speedypleath/JUCE

[submodule "foleys_gui_magic"]
	path = lib/foleys_gui_magic
	url = https://github.com/speedypleath/foleys_gui_magic

[submodule "midi_generator"]
	path = midi_generator
	url = https://github.com/speedypleath/midi_generator

[submodule "b2bAI-VST"]
	path = vst
	url = https://github.com/speedypleath/b2bAI-VST
